:root {
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #eaf2fd;
  --primary-font-color: #464646;
  --secondary-font-color: #2a7ae4;
  --contrast-fontocolor: #ffffff;
  --placeholder-color: #a2a2a2;
}
body {
  font-family: "Raleway", sans-serif;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo-title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
}
.mail-link {
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
  text-decoration: none;
}
.bio {
  padding: 16px;
}
.profile-pic {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}
.section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
.text {
  margin: 16px 0;
  font-size: 14px;
  line-height: 16px;
}
.bio-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.bio-link {
  display: flex;
  text-decoration: none;
  color: var(--primary-font-color);
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}
.bio-link-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.about {
  padding: 16px;
}
.secondary-bg {
  background-color: var(--secondary-bg-color);
}
.skills {
  padding: 16px 8px;
}
.title-center {
  text-align: center;
}
.container {
  width: 100;
  max-width: 400px;
  margin: auto
}
.row {
  width: 100%;
  height: 118px;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
.col {
  width: 50%;
  background-color: var(--contrast-fontocolor);
  padding: 16px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.skill-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
}
.skill-logo {
  width: 24px;
}
.training {
  padding: 32px;
}
.card {
  width: 100%;
  max-width: 400px;
  padding: 32px 0;
}
.card-img-container {
  width: 100%;
  height: 118px;
  background-color: var(--contrast-fontocolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  height: 80px;
}
.card-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
}
.card-text {
  margin-top: 8px;
}
.projects {
  padding: 32px;
}
.project-img-container {
  width: 100%;
  height: 144px;
  background-color: white;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-links {
  height: 40px;
  display: flex;
  margin-top: 8px;
}
.button-link {
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.repo {
  color: var(--secondary-font-color);
  border: 1px solid var(--secondary-font-color);
}
.demo {
  margin-left: 16px;
  color: var(--contrast-fontocolor);
  background-color: var(--secondary-font-color);
}
.contact {
  padding: 32px;
}
.contact-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
form {
  display: flex;
  flex-direction: column;

}
.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--placeholder-color);
  opacity: 1;
  transform: translateY(-32px);
  transform-origin: 0 0;
  transition: all 0.3s;
  padding-left: 12px;
}
.form-input {
  border: none;
  border-radius: 4px;
  background: var(--contrast-fontocolor);
  padding: 28px 12px 8px 12px;
  box-shadow: none;
  margin-top: 24px;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: transparent;
}
.form-input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid var(--secondary-font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-font-color);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-48px);
  font-size: 12px;
  color: var(--secondary-font-color);
}
.form-input:not(:placeholder-shown) {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-font-color);
}
.form-input:not(:placeholder-shown) + .form-label {
  font-size: 12px;
  color: var(--placeholder-color);
}
.form-textarea {
  height: 133px;
}
.form-textarea:focus + .form-label,
.form-textarea:not(:placeholder-shown) + .form-label {
  transform: translateY(-161px);
}
.textarea-label {
  transform: translateY(-149px);
}
.form-submit {
  width: fit-content;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--contrast-fontocolor);
  background-color: var(--secondary-font-color);
  padding: 12px;
  margin-top: 32px;
}
footer {
  padding: 32px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
